In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('/content/drive/My Drive/fake news/train.csv')
train.shape

(20800, 5)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [6]:
test = pd.read_csv('/content/drive/My Drive/fake news/test.csv')
test.shape

(5200, 4)

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [8]:
train.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [9]:
test.head()

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [10]:
X=train.drop('label',axis=1)
X.shape

(20800, 4)

In [11]:
X.head()

   id  ...                                               text
0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1  ...  Ever get the feeling your life circles the rou...
2   2  ...  Why the Truth Might Get You Fired October 29, ...
3   3  ...  Videos 15 Civilians Killed In Single US Airstr...
4   4  ...  Print \nAn Iranian woman has been sentenced to...

[5 rows x 4 columns]

In [12]:
y=train['label'] #df==train to get dependent features

In [13]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [14]:

train.shape

(20800, 5)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer

In [16]:

train=train.dropna()

In [17]:
train.shape

(18285, 5)

In [18]:

train.head(9)

    id  ... label
0    0  ...     1
1    1  ...     0
2    2  ...     1
3    3  ...     1
4    4  ...     1
5    5  ...     0
7    7  ...     0
9    9  ...     0
10  10  ...     0

[9 rows x 5 columns]

In [19]:

messages=train.copy()

In [21]:
messages.reset_index(inplace=True)

In [22]:
messages.head(10)

   level_0  index  ...                                               text label
0        0      0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...     1
1        1      1  ...  Ever get the feeling your life circles the rou...     0
2        2      2  ...  Why the Truth Might Get You Fired October 29, ...     1
3        3      3  ...  Videos 15 Civilians Killed In Single US Airstr...     1
4        4      4  ...  Print \nAn Iranian woman has been sentenced to...     1
5        5      5  ...  In these trying times, Jackie Mason is the Voi...     0
6        6      7  ...  PARIS  —   France chose an idealistic, traditi...     0
7        7      9  ...  A week before Michael T. Flynn resigned as nat...     0
8        8     10  ...  Organizing for Action, the activist group that...     0
9        9     11  ...  The BBC produced spoof on the “Real Housewives...     0

[10 rows x 7 columns]

In [27]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
ps = PorterStemmer()
corpus = []
for i in range(0, len(messages)):

  review = re.sub('[^a-zA-Z]', ' ', messages['title'][i])
  review = review.lower()
  review = review.split()
    
  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [29]:
corpus[4]

'iranian woman jail fiction unpublish stori woman stone death adulteri'